# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/modules.xml
/.name
/concertCrawling.iml
/misc.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
